<a href="https://colab.research.google.com/github/deep1003/deep1003/blob/master/01_1%20%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%EC%8B%9C%EC%9E%91%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ctrl +Enter 혹은 Shift + Enter 누르면 현재 셀 내용을 실행한다.
# 여기서, Shift + Enter 키는 실행 후 새로운 셀을 하단에 추가하고,
# ctrl + Enter 키는 실행만 한 후 프롬프트를 현재 셀에 그대로 둔다
# Colab에서는 GoogleDrive의 "Colab Notebooks"라는 폴더에 자동으로 저장된다.

In [ ]:
# Google Colab은 파이썬 사용에 필요한 Numpy, Pandas 등과 같은 주요 인기 라이브러리를 따로 설치할 필요 없이 기본으로 제공하지만,
# 모든 라이브러리를 제공하지는 않으므로 필요한 라이브러리는 pip 또는 pip3 명령어를 사용해 직접 설치하여야한다.
# 하지만 pip를 이용해 설치하더라도 다음날 설치 이전상태로 돌아가 있을 수 있으므로 이런 경우 다시 설치해야한다.
#
# Example
# 다음은 증권 데이터를 제공하는 Quadl 라이브러리를 설치하는 것에 대한 예시이다.
!pip3 install quandl

Collecting quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl.metadata (1.3 kB)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.10/dist-packages (from quandl) (2.1.4)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.10/dist-packages (from quandl) (1.26.4)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.10/dist-packages (from quandl) (2.32.3)
Collecting inflection>=0.3.1 (from quandl)
  Downloading inflection-0.5.1-py2.py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from quandl) (1.16.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.10/dist-packages (from quandl) (10.5.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.14->quandl) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.14->quandl) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->quandl) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->quandl) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->quandl) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->quandl) (2024.8.30)
Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.7.0

In [ ]:
# 01_1_1 파이썬 핵심사항 1: 변수

# 변수는 숫자나 문자열과 같은 값을 저장하는 요소이다. 프로그램이 시작될 떄 변수가 만들어지고 값이 입력되면 메모리가 할당된다.
# 그리고 프로그램이 종료되면 할당된 메모리가 시스템에 반환된다.

# 파이썬에서는 변수의 값을 입력할 떄 "="을 사용한다.
# 변수의 이름은 알파벳 혹은 언더스코어(_) 문자로 시작한다.
# 변수 이름에 1a처럼 숫자가 나오면 안된다는것을 명심하자!

In [ ]:
# 01_1_1_1 숫자형 변수
# 숫자는 실수, 정수를 사용하며 변수에 숫자만 지정하면 된다.
# 예를 들어 a, b라는 변수에 각각 실숫값 2020.24 또는 2020울 입력한다면 다음과 같다
a = 2020.24 # 변수 a는 실숫값 2020.24.를 가리킨다
b = 2020 # 변수 b는 정숫값 2020을 가리킨다.
print(a,b)

2020.24 2020

In [ ]:
a

2020.24

In [ ]:
e = 2020
e

2020

In [ ]:
# 01_1_1_2 문자열 변수
# 문자열은 작은따옴표('...') 또는 큰따옴표("....")를 이용해 만든다.
# e라는 변수에 숫자 2020을 입력한 후 다시 e 변수에 문자열을 입력한다면. 이미 입력된 숫자 2020 대신 새로 입력된 데이터를 가리키게 된다.

a = 'Portfolio' # 변수 A는 문자열 Portfolio를 가리킨다
b = "Portfolio" # 변수 b는 문자열 Portfolio를 가리킨다
c = '"Portfolio"' # 변수 csms 큰 따옴표가 포함된 문자열 "Portfolio"를 가리킨다
d = "'Portfolio'" # 변수 d는 작은따옴표가 포함된 문자열  'Portfolio'를 가리킨다
e = '2020'

In [ ]:
e
# 여기서 따옴표 사이는 문자열이다. 2020은 숫자이지만 '2020'은 문자열이다.
# 숫자를 입력할 경우 평소처럼 사용하고, 문자열인 경우 작은따옴표 또는 큰따옴표안에 문자열을 넣는다

2020

In [ ]:
a

'Portfolio'

In [ ]:
# 01_1_2 데이터 객체
# 데이터 객체는 하나 이상 값을 다룰때 편리를 위해 주로 사용하며, 종류로는 list,tuple,dictionary가 있다.

In [ ]:
# 01_1_2_1 리스트
# 리스트는 여러종류의 데이터를 저장하는데 사용하는 데이터 구조이다.
# 수정, 삭제 추가 등과 같은 데이터 변경작업에 용이하며 []로 만들어주고 목록 내 원소는 콤마(,)로 구분한다.

# 비어있는 리스트 a를 만든다
a = []

# 1,2,3,4,5다섯 개 항목이 있는 리스트 b를 만든다
b = [1,2,3,4,5]

# 두개의 리스트를 연결된 합쳐진 리스트로 만든다
c = [1,2,3] + [6,5,4]

# 리스트 [1,2,3]이 두번 반복된 리스트를 만든다. 이때 *는 곱하기가 아니다
d = [1,2,3]*2

In [ ]:
c

[1, 2, 3, 6, 5, 4]

In [ ]:
d

[1, 2, 3, 1, 2, 3]

In [ ]:
# 01_1_2_2 Indexing
# 리스트 속 각각의 항목은 0부터 시작하는 인덱스 번호를 가진다.
# 인덱스를 이용하면(즉, idexing을 하면) 일부 값만 얻거나 바꾸는 등의 작업이 가능해진다.
# 인덱스 번호는 0부터 시작하지만 마이너스 값을 갖기도 하는데, -1은 리스트에 있는 마지막 항목의 인덱스다.
# -2를 한다면 리스트에 있는 마지막 두번째 항목의 리스트가 된다.
# 인덱스가 없다면 리스트 내 항목의 개수를 세는 일이 어려워진다.

a = [1,2,3,4,5,6]

# 리스트 a에서 인덱스 값이 0인 첫번째 항목 1을 출력한다.
print(a[0])

# 리스트 1에서 인덱스 값이 5인 첫 번째 항목 6을 출력한다.
print(a[5])

# 리스트 a에서 인덱스 값이 -1인 마지막 항목 6을 출력한다.
print(a[-1])

# 리스트 a에서 인덱스 값이 -2인 마지막 두 번째 항목 5를 출력한다.
print(a[-2])

1
6
6
5

In [ ]:
# 01_1_2_3 Slicing
# 슬라이싱은 인덱스를 이용해 리스트의 일부를 떼어내는 것이다.
# 뗴어낸다고 해서 원래 리스트 내용이 변경되는 것은 아니다.
# 콜론(:)을 사용해 리스트의 일부분을 잘라내듯이 추출하는 것이다.
# [시작 인덱스:끝 인덱스] 형식으로 슬라이싱을 하는데 직전 항목까지 가져온다


# [시작 인덱스:끝 인덱스]의 형식으로 사용한다.
a = [1,2,3,4,5,6]

# 인덱스 0부터 2 이전까지의 항목을 슬라이싱한다.
print( a[0:2])

# 시작 인덱스가 생략되면 0으로 판단한다.
print(a[:2])

# 끝 인덱스가 생략되면 마지막 인덱스로 판단한다.
print(a[2:])

[1, 2]
[1, 2]
[3, 4, 5, 6]

In [ ]:
# 항목 변경과 삭제
# 리스트의 일부 항목을 변경하는 것도 인덱스를 이용해 할 수 있다.
# 리스트 또는 리스트 내 일부 항목을 삭제하려면 del()함수를 사용한다.

# 리스트의 항목은 인덱스를 지정해 수정할 수 있다.
a = [1,2,3,4,5,6]

# 2번째 인덱스 항목인 3을 4로 변경한다
a[2] = 4
print(a)

# 리스트 또는 리스트 내 항목을 지우려면 del 함수를 사용한다.
# 1번 인덱스를 삭제한다. 리스트 내 2가 없어진다.
del a[1]
print(a)

# 2번 인덱스로부터 마지막까지 지운다
# 앞서 1번 인덱스를 지워 리스트는 [1,4,4,5,6]인데, 2번 인덱스부터 마지막까지 지워 [1,4]만 남는다
del a[2:]
print(a)

# 리스트를 통째로 지정하면 리스트라는 객체 자체가 사라진다.
# 따라서 리스트 a를 출력하면
# NameError: name 'a' is not defined
# 에러가 발생한다
del a
print(a)

[1, 2, 4, 4, 5, 6]
[1, 4, 4, 5, 6]
[1, 4]

NameError: name 'a' is not defined

In [ ]:
# 리스트 내 항목의 개수를 얻으려면 파이썬 기본 함수 len()을 사용한다.
a = [1,2,3,4,5,6]
length = len(a)
print(length)

6

In [ ]:
# 01_1_2_4 Tuple
# tuple은 리스트와 비슷한 성격을 가진 자료형 객체인데, 리스트와 달리 변경이 불가능하다.
# 리스트는 []를 사용하지만 tuple은 소괄호()을 사용하며, ()없이 콤마(,)로 값을 구분해둬도 튜플이 된다.
# 변경이 불가능하다는 것은 단점처럼 보이지만 장점일수도 있는데, 프로그램이 실행되는 동안 내용이 바뀌면 안되는 목록이 있다면 튜플을 사용하기에 좋다.
# 여기서, 튜플도 리스트와 같이 인덱싱, 슬라이싱이 가능하며, 튜플끼리 더하거나 곱하거나 len()함수를 이용하여 길이를 구할 수도 있다.
a = ()
b = (1,2,3,4,5,6)
c = 1,2,3,4,5,6

print(a)
print(b)
print(c)

()
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [ ]:
# 01_1_2_5 Dictionary
# dictionary는 리스트나 튜플과 많이 다른 데이터 객체이다.
# dictionary라는 말처럼 key와 value, 한 쌍이 필요하다
# 리스트나 튜플과 달리 숫자로 된 인덱스가 아닌 키를 갖고 값을 다루는 경우 편리하다.
# 다만 키는 중복되면 안된다.

# 딕셔너리는 {}안에 {key:value}형식으로 만든다
a = {'one':1, 'two':2,'three':3,'four':4, 'five':5,'six':6}
print(a)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

In [ ]:
# 딕셔너리에 새로운 {키:값}을 추가하려면 새로운 키를 딕셔너리에 넣고 값을 할당한다.
a['seven'] = 8
print(a)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 8}

In [ ]:
# 딕셔너리를 수정하는 경우 인덱스가 아닌 키를 사용한다. 키가 인덱스 역할을 한다고 보면 된다.
a['seven'] = 7
print(a)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7}

In [ ]:
# 딕셔너리 항목을 삭제하는 경우에도 키를 사용한다.
del a['one']
print(a)

{'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7}

In [ ]:
# 모든 항목을 지우려면 clear 함수를 사용한다
a.clear()
print(a)

{}

In [ ]:
# 딕셔너라는 키와 값을 다루기 위한 몇 가지 함수를 제공한다.

# 딕셔너리 함수들
a = {'one':1, 'two':2,'three':3,'four':4, 'five':5,'six':6}

# 딕셔너리의 키를 모두 얻으려면 keys 함수를 사용한다.
keys = a.keys()
for k in keys:
  print(k)

one
two
three
four
five
six

In [ ]:
# 딕셔너리의 값을 모두 얻으려면 values 함수를 사용한다.
values = a.values()
for v in values:
  print(v)

1
2
3
4
5
6

In [ ]:
# 딕셔너리의 키와 값을 모두 얻으려면 items 함수를 사용한다.
items = a.items()
for k,v in items:
  print(k, v)

one 1
two 2
three 3
four 4
five 5
six 6

In [ ]:
# 딕셔너리 내에 키가 있는지 확인하려면 in을 사용한다.
# 키가 있으면 Ture, 그렇지 않으면 False다.
bln = 'six' in a
print(bln)

bln = 'seven' in a
print(bln)

True
False

In [ ]:
# 01_1_3 연산자

# 할당 연산자
a=1
a

1

In [ ]:
# 사칙연산
a=1
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)

3
-1
2
0.5

In [ ]:
# 거듭제곱
c= 9
print(c**c)

387420489

In [ ]:
# 나눗셈의 몫
print(9//7)

1

In [ ]:
# 나눗셈의 나머지
print(9%7)

2

In [ ]:
# 비교연산자
# 비교연산자의 경우 둘간의 대소비교를 할때 사용하며, 결과값은 Ture, False로 반환된다.
# 크다, 작다
print(1<2)
print(1>2)
# 크거나 같다, 작거나 같다
print(1>=2)
print(1<=2)
# 같다
print(1==2)
# 같지않다
print(1!=2)

True
False
False
True
False
True

In [ ]:
# 논리연산자
a = True
b = False
# 부정
print(a)
# 논리 곱
print(a and b)
# 논리 합
print(a or b)

True
False
True

In [ ]:
# 01_1_3 흐름제어
# 통상적으로 프로그램의 코드는 위에서 아래의 순서로 실행되나 흐름 제어를 활용하면 반복 혹은 원하는 조건 추출 등 여러가지 조건 활용이 가능하다.


# if 문
# if문은 조건이 참 또는 거짓인 경우에 따라 코드를 다르게 실행하는 경우 사용한다.
# 조건은 변수, 비교 연산자, 논리 연산자 등을 사용해 결과가 True 혹은 False 가 나오는 식을 말한다.

# Outline 1
# if 조건:
#    조건이 True인 경우 실행할 코드

# Outline 2
# if 조건1:
#    조건 1이 True인 경우 실행할 코드
# elif 조건2:
#    조건 2가 True인 경우 실행 할 코드
# else:
#    조건 1과 2가 모두 True가 아닌 경우 실행 할 코드

# 가령 total이라는 변수 값의 크기에 따라 다음과 같이 출력을 달리할 수 있다.

total = 512
if total > 100:
  print('total은 100보다 큽니다')
elif total == 100:
  print('total은 100입니다')
elif total >=50 and total<100:
  print('total은 50이상 100 미만입니다')
else:
  print('total은 50 미만입니다.')

total은 100보다 큽니다

In [ ]:
# for 반복문
# for문은 정해진 횟수만 반복한다

# Outline
# for 변수 in range(시작,끝):
#    반복할 코드

# 여기서 range은 시작부터 끝 직전까지의 범위를 만들어 낸다.

# 1부터 9까지 반복하는 for문을 예시
for x in range(1,10):
  print(x)

1
2
3
4
5
6
7
8
9

In [ ]:
# 다음은 2,4,6,8 이라는 네 개의 숫자를 곱하는 예시이다.

# nums는 2,4,6,8 이라는 네 개의 숫자를 가진 리스트다.
nums = [2,4,6,8]

# 곱셈의 결과를 저장할 변수 p를 만들고 미리 1을 저장한다.
p = 1

# 리스트를 반복하는 동안 b은 각 숫자를 가리킨다.
for n in nums:
  # 미리 준비한 변수 p에 숫자 n을 계속 곱한다.
  # 곱셈의 결과는 p가 되고 다시 반복하면
  # n과 곱셈을 할 p가 된다.
  p = p*n
print('The product is:',p)

The product is: 384

In [ ]:
# 위의 구문들은 들여쓰기를 시행하였는데 파이썬에서 들여쓰기를 하지 않으면 에러가 자주 발생하므로 들여쓰기를 해서 코드를 작성하자

In [ ]:
# 01_1_4 함수
# 애초에 컴퓨터를 사용하는 목적중 하나는 반복 작업을 줄이는 것이다.
# 흐름제어인 for 문과 마찬가지로 함수도 그러한 목적을 가지고 있다.
# 가령 자주 사용하는 계산이 있는데, 계산할 때마다 코드를 반복하지 않고 함수를 만들어 필요할 때 호출하면 전체 코드의 양도 줄이고 기능별로 정리된 체계적인 프로그램을 만들 수 있다.

# def를 사용하여 함수를 정으하고 다름과 같은 형태를 가진다.
# def 함수명(매개변수):
#     함수 본체

# 다음은 인사말을 돌려주는 간단한 함수이다.
# "Hello World"라는 문자열을 돌려주는 함수를 만들면 다음과 같다
def HelloWorld():
  return 'Hello World'
# :"Hello"라는 문자열과 msg변수(즉, 매개변수)에 담긴 내용을 합쳐 돌려주면 다음과 같다
def HelloMessage(msg):
  return 'Hello' + msg

In [ ]:
# 함수가 값을 돌려주면 변수나 다른 함수를 통해 돌려주는 값을 받는다. 다음 코드에서는 greeting 변수에 HelloWorld(), HelloMessage()의 결과를 돌려준다.
# 그리고 print(HelloWorld()), print(HelloMessage('MARY'))와 같이 print() 함수에 결과를 바로 전달해 화면에 출력한다.
greeting = HelloWorld()
print(greeting)

greeting = HelloMessage('MARY')
print(greeting)

print(HelloWorld())
print(HelloMessage('MARY'))

# 함수에서 값을 돌려주는 경우 return을 사용한다. 파이썬은 한 번에 여러 개의 값을 돌려줄 수있다.

Hello World
HelloMARY
Hello World
HelloMARY

In [ ]:
# return은 여러 개의 값을 돌려줄 수 있다.
# 아래 함수 x()는 네 개의 값을 돌려준다.
# 돌려주는 값을 변수 네개가 받는다.
def x():
  return 1,2,3,4

a,b,c,d = x()
print(a,b,c,d)

1 2 3 4